*.o
*.so
*.swp
*.swo
*.tar.gz
*~
.deps
libtool
Makefile
Makefile.in
missing
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.status
config.log
config.sub
configure
depcomp
core.*
soundcheck.tar.gz
space
stamp-h
stamp-h1
src/main
src/soundcheck
src/test
src/Makefile
src/Makefile.in
