*.o
*.so
*.swp
*.swo
*~
.deps
libtool
Makefile
Makefile.in
missing
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.status
config.sub
configure
depcomp
core.*
soundcheck.tar.gz
space
stamp-h
stamp-h1
